<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Datanyze challenge" preserve-order="true" verbose="1">
    <parameter name="url" value="https://www.datanyze.com/login/"/>
    <parameter name="userName" value="a.roygas@gmail.com"/>
    <parameter name="password" value="challenge"/>
    <test name="Challenge" verbose="1" preserve-order="true">
        <classes>
            <class name="com.datanyze.challenge.ChallengeTest"/>
        </classes>
    </test>
</suite>